#gallery {
    
}

#gallery .m {
    column-count: 2;
    column-gap: 5px;
}

@media (min-width: 768px) {
    #gallery .m {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    #gallery .m {
        column-count: 3;
    }
}

#gallery .m .b {

}

#gallery .m img {

}